<body class="show">
  <div class="row">
    <div class="col-12" class="featured-image-container">
        <%= image_tag "bg", alt: "alttext", class: "featured-image" %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Camp Nou</h5>
          <h6 class="card-subtitle mb-2 text-muted">C. d'Arístides Maillol, 12, 08028 Barcelona, España</h6>
          <p class="card-text">El Camp Nou es un recinto deportivo propiedad del Fútbol Club Barcelona, ubicado en el distrito de Les Corts de la ciudad de Barcelona, España. Inaugurado el 24 de septiembre de 1957 y catalogado por la UEFA en 1998 como «estadio de élite»,3​ es el estadio con mayor capacidad de Europa y el tercero de fútbol del mundo, con un aforo actual de 99 354 espectadores.4​ La capacidad del estadio ha variado desde su aforo inicial de alrededor de noventa mil localidades, a su máximo aforo de ciento veinte mil espectadores, con la construcción con motivo del Mundial de España 1982, de la tercera gradería.5​ Finalmente en 1994, su aforo actual se situó por debajo de los cien mil espectadores, tras la remodelación acometida en aplicación de la normativa que obligaba a eliminar las localidades sin asiento.</p>
          <a href="#" class="card-link">Site link</a>
          <a href="#" class="card-link">Another link</a>
          <div class="cronogram">
            <table class="cronogram" border="1" cellpadding="1">
              <tbody>
              <tr>
              <td>&nbsp;</td>
              <td>Opening</td>
              <td>Closing</td>
              <td>Break</td>
              </tr>
              <tr>
              <td>Mon</td>
              <td>08:00am</td>
              <td>10:00pm</td>
              <td></td>
              </tr>
              <tr>
              <td>Tues</td>
              <td>08:00am</td>
              <td>10:00pm</td>
              <td>&nbsp;</td>
              </tr>
              <tr>
              <td>Wed</td>
              <td>08:00am</td>
              <td>10:00pm</td>
              <td>&nbsp;</td>
              </tr>
              <tr>
              <td>Thur</td>
              <td>08:00am</td>
              <td>10:00pm</td>
              <td>&nbsp;</td>
              </tr>
              <tr>
              <td>Fri</td>
              <td>08:00am</td>
              <td>10:00pm</td>
              <td>&nbsp;</td>
              </tr>
              <tr>
              <td>Sat</td>
              <td>08:00am</td>
              <td>Closed</td>
              <td>&nbsp;</td>
              </tr>
              <tr>
              <td>Sun</td>
              <td>Closed</td>
              <td>Closed</td>
              <td>&nbsp;</td>
              </tr>
              </tbody>
              </table>
          </div>
        </div>
      </div>

    </div>
    <div class="col-8">
      .col-8<br>Subsequent columns continue along the new line.
    </div>
  </div>

   <script src="js/scripts.js"></script>
</body>

