.bookings {

.give-me-space {
  height: 60px;
}
text-align:center;
margin:auto;
padding:5px;
.card{
  vertical-align:center;
  margin: 1%;
  border-radius: 6px;
}
.card-img-top{
  margin:10px auto;
  border-radius: 6px;
}

.button {
  border-radius: 6px;
  margin: 3px;
}
}
