// Import page-specific CSS files here.
$navbar-color : #496296;


.show {
  font-family: 'Montserrat', sans-serif;

  .featured-image-container  {
  height: 20em;
  width: 100%;

  background: url(https://cldup.com/7Bo5Ay9WNt-3000x3000.jpeg) no-repeat;
      background-size: cover;
    background-clip: border-box;
    margin: 0px;
}

  .notice {
    margin-bottom: 0px;
  }

  .cronogram{
    font-size: 15px;
    background: lightgray;
    font-family: 'Montserrat', sans-serif;
  }

  .book-now {
    width:50%;
    background-color: $navbar-color;
    margin: 10% auto;
    table {
      border:white;
    }
  }
  .row {
    margin:0px;
  }

  .card-link {
    color: $navbar-color;
  }

  td {
    padding: 1vh;
}
}

