<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PLGRND</title>
  <meta name="description" content="PLGRND">
  <meta name="author" content="PLGRND">
</head>

<body class="home">
  <div class="filter">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="home-title text-center">P L G R N D</h1>
      </div>

      <div class="row justify-content-center">
        <h2 class="text-center subtitle" > WHERE SPORTS REALLY START</h2>
        <h3 class="text-center description">
          PLGRND enables you to book any available sport infrastructure around you.
          For training session of friendly game, book a playground!
        </h3>
      </div>

      <div class="row justify-content-center">
          <button type="button" class="btn btn-warning rounded btn-lg" onclick="window.location.href = 'index';">START</button>
      </div>

        <div class="row justify-content-center">
          <a href="joke">

            <%= image_tag "badge-app-store", alt: "alttext", width:"120px" %>
            <%= image_tag "google-play-badge", alt: "alttext", width:"120px"  %>
            </a>
        </div>

       </div>
  </div>
  </div>
   <script src="js/scripts.js"></script>
</body>
</html>
