<div class="filter">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="home-title text-center">P L G R N D</h1>
      </div>

      <div class="row justify-content-center">
        <h2 class="text-center subtitle" > WHERE SPORTS REALLY START</h2>
        <h3 class="text-center description">
          PLGRND enables you to book any available sport infrastructure around you.
          For training session of friendly game, book a playground!
        </h3>
      </div>

      <div class="row justify-content-center">
        <%= link_to "START", infrastructures_path, class:"btn btn-warning rounded btn-lg"%>
      </div>

        <div class="row justify-content-center">
          <a href="joke">

            <%= image_tag "https://cldup.com/FmWbqHZpRN-3000x3000.png", alt: "alttext", width:"120px" %>
            <%= image_tag "https://cldup.com/AVUSUqIcI2-3000x3000.png", alt: "alttext", width:"120px"  %>
            </a>
        </div>

       </div>
  </div>
</div>
