<html lang="en">
<head>
  <meta charset="utf-8">

  <title>WOAH</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <img src="bg" alt="blep">
  <%= image_tag("logo", size: "16") %>
  <h1>INCREDIBLE PIECE OF TITLE DUDE</h1>

  <%= image_tag "logo", alt: "alttext" %>
  <script src="js/scripts.js"></script>
</body>
</html>
