<div class="filter">
  <div class="container">
      <div class="row justify-content-center">
        <h1 class="home-title text-center">P L G R N D</h1>
      </div>

      <div class="row justify-content-center">
        <h2 class="text-center subtitle" > INDEXEXEXEXEX</h2>
        <h3 class="text-center description">
          Just click on start and don't piss us off!
        </h3>
      </div>

      <div class="row justify-content-center">
          <button type="button" class="btn btn-warning rounded btn-lg">START</button>
      </div>

       </div>
  </div>
</div>

