.navbar-lewagon {
  justify-content: space-between;
  background: #496296;


.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 150px;
}

 .nav-item .nav-link {
  color: white;
  padding-right: 20px;
}
}
